@import "config";
@import "utilities";

// Semantique

body{
    min-width: 320px;
    margin: auto;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 136px;
    align-self: center;
    margin-top: 15px;
}

header{
    font-family: $secondary-font;
    @include flexbox;
 }

article{
    align-items: center;
    background-color: $primary-background;
}

section{
    @include flexbox;
    background-color: white;
}

footer{
    background-color: darkgray;
    @include flexbox;
    justify-content: space-between;
}

// Navigation

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
.navBar{
    display: flex;
    justify-content: center;
    background-color: gray;
    font-weight: normal;
    width: 100%;
    &_localisation{
        padding: 9px;
    }
    &_description{
        width: 100px;
    }
}
}

// article 1

.explorer{
    display: flex;
    flex-direction: column;
   &_btn{
    border-radius: 35px;
    background-color: $secondary-color;
    padding: 1px 50px 1px;
    margin-top: 25px;
    box-shadow: -1px 9px 19px -6px rgba(0,0,0,0.75);
    }
}
// Titres

h1{
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
}

h2{
    font-size: 16px;
    padding: 15px;
}

h3{
    font-size: 16px;
    padding: 15px;
    margin: 0;
}
h4{
    font-size: 16px;
    margin:0;
    padding: 12px;
}

// Fonctionnement
.operation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.choice{
    display: flex;
    justify-content: center;
    border: 1px $primary-color solid;
    border-radius: 20px;
    position: relative;
    &_icone{
        display: flex;
        padding: 16px;
        &--number{
            border: 1px $secondary-color solid;
            background-color: $primary-color;
            display: flex;
            padding: 6px;
            border-radius: 26px;
            position: absolute;
            left: -14px;
            bottom: 9px
        }
    }
}

.choice:hover{
    background-color: $secondary-color;
}
.restaurant{
    @include flexbox;
    background-color: $primary-background;
    margin-bottom: 50px;
    font-style: $secondary-font;
    &_card{
        @include flexbox;
        width: 100%;
        margin-bottom: 50px;
        &_description{
            width:100%;
        }
    }
}

.image_restaurant{
    width: 100%;
    height: 67px;
    object-fit: cover;
}

.restaurant_descrip{
    padding: 0;
}

// Footer
.logofooter{
    font-style: $primary-font;
    color:white;
    padding: 0;
    margin-left: 10px;
    &_propose{
        @include flexbox;
        justify-content: space-between;
        height: 100px;
        &--line{
            padding: 0;
            margin: 0;
        }
    }
}
.become{
   display: flex;
   &_icone{
    padding: 3px;
    margin-right: 3px;
   }
}
.partner{
    display: flex;
    &_icone{
        padding: 3px;
        margin-right: 3px;
    }
}
.footer_position{
    margin-left: 10px;
}