@import "config";
@import "utilities";

// Semantique

body{
    min-width: 320px;
    margin: auto;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 136px;
    align-self: center;
    margin-top: 15px;
}

header{
    font-family: $secondary-font;
    @include flexbox;
 }

article{
    align-items: center;
}

section{
    @include flexbox;
    background-color: white;
}

// Navigation

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
.navBar{
    display: flex;
    justify-content: center;
    background-color: gray;
    font-weight: normal;
    width: 100%;
    &_localisation{
        padding: 9px;
    }
    &_description{
        width: 100px;
    }
}
}

// article 1

.explorer{
    display: flex;
    flex-direction: column;
   &_btn{
    border-radius: 35px;
    background-color: $secondary-color;
    padding: 1px 50px 1px;
    margin-top: 25px;
    box-shadow: -1px 9px 19px -6px rgba(0,0,0,0.75);
    }
}
// Titres

h1{
    font-size: 16px;
    padding: 15px;
}

h2{
    font-size: 16px;
    padding: 15px;
}

h3{
    font-size: 16px;
    padding: 15px;
    margin: 0;
}
h4{
    font-size: 16px;
    margin:0;
    padding: 12px;
}

// Fonctionnement
.operation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.choice{
    display: flex;
    justify-content: center;
    border: 1px $primary-color solid;
    border-radius: 20px;
    &_icone{
        display: flex;
        padding: 13px;
        &--number{
            border: 1px $secondary-color solid;
            background-color: $primary-color;
            display: flex;
            padding: 14px;
            border-radius: 26px;
        }
    }
}
.restaurant{
    @include flexbox;
    &_card{
        @include flexbox;
        &_image{
            width: 8%;
            height: 10px;
        }

    }

}