@media screen and (min-width: 768px) {
  .responsive_filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  .responsive_home {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    // margin-left: 15px;
  }

  .choice {
    margin-right: 20px;
    margin-left: 20px;
  }
  // .choice_article {
  //   margin-left: -43px;
  //   margin-right: -43px;
  // }
}
