// bouton navigation

@media screen and (min-width: 768px) {
  body button {
    margin: auto;
  }
}

.bouton {
  margin-bottom: 20px;
}

// bouton style
button {
  display: flex;
  align-items: center;
  margin: auto;
  border: 0;
  padding: 16px 35px 16px;
}

// général

.explorer_btn {
  border-radius: 35px;
  background-color: $secondary-color;
  @include linear-gradient;

  box-shadow: -1px 9px 19px -6px rgba(0, 0, 0, 0.75);
  &---paragraphe {
    font-size: 15px;
    color: $fifth-color;
    font-weight: 700;
  }
}

.explorer {
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  &_btn {
    border-radius: 35px;
    background-color: $secondary-color;
    font-family: $secondary-font;
    cursor: pointer;
    @include linear-gradient;
    @include box-shadow_button;
    transition: all 1.5s ease-in-out;
    &:hover {
      opacity: 0.7;
      @include box-shadow_button---hover;
    }
    &---paragraphe {
      font-size: 15px;
      color: $fifth-color;
      font-weight: 400;
    }
  }
}
