@keyframes rotationcheck {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes meal_apparition_translate {
  0% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes meal_apparition_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader_disapear {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader_canceled {
  to {
    z-index: -1;
  }
}

@keyframes site_appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes item_move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes color_change---one {
  0% {
    color: $primary-color;
  }
  50% {
    color: $secondary-color;
  }
  100% {
    color: $tertiary-color;
  }
}

@keyframes color_change---two {
  0% {
    color: $secondary-color;
  }
  50% {
    color: $tertiary-color;
  }
  100% {
    color: $primary-color;
  }
}

@keyframes color_change---three {
  0% {
    color: $tertiary-color;
  }
  50% {
    color: $primary-color;
  }
  100% {
    color: $secondary-color;
  }
}
