@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin linear-gradient {
  background: $secondary-color;
  background: linear-gradient(
    173deg,
    $secondary-color 7%,
    $primary-color 76%,
    $primary-color 89%
  );
}
@mixin background-footer {
  background-color: darken($fourth-color, 70%);
}
@mixin text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin box-shadow {
  box-shadow: 1px 5px 13px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 13px -7px rgba(0, 0, 0, 0.75);
}

@mixin box-shadow_button {
  box-shadow: 1px 5px 13px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 13px -7px rgba(0, 0, 0, 0.75);
}

@mixin box-shadow_button---hover {
  box-shadow: -2px 4px 33px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 4px 33px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 33px -7px rgba(0, 0, 0, 0.75);
}
