@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes heart_off {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
