$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #f2f2f2;
$fifth-color: white;
$sixth-color: black;
$primary-background: #f2f2f2;
$button-color: $secondary-color 0%, $primary-color 52%, $primary-color 98%;
