$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #f2f2f2;
$primary-font: "Shrikhand", sans-serif;
$secondary-font: "Roboto", sans-serif;
$primary-background: #f2f2f2;
