@media screen and (min-width: 768px) {
  .responsive_meal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
  .entries {
    width: 33%;
  }
  .hot_meal {
    width: 33%;
  }
  .dessert {
    width: 33%;
  }
  .meal:hover .apparition_meal {
    margin: 0;
    i {
      animation: rotationcheck 1s ease-in-out;
    }
  }
}
.responsive_meal {
  margin-left: 10px;
  margin-right: 10px;
}
