@media screen and (min-width: 768px) {
  body .restaurant {
    flex-wrap: wrap;
    height: 625px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
  article .choicerestaurant {
    width: 40%;
    height: 243px;
    margin-bottom: 20px;
  }
}

.restaurant {
  @include flexbox;
  justify-content: space-between;
  flex-grow: 1;
  background-color: $primary-background;

  margin-left: 15px;
  margin-right: 15px;
  height: 1110px;
  font-family: $secondary-font;
  &_card {
    @include flexbox;
    @include box-shadow;
    width: clamp(293px, 100%, 881px);
    position: relative;
    border-radius: 15px;
    &_description {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 11px;
      &---line {
        font-weight: 300;
        padding-left: 0;
        padding-top: 5px;
      }
    }
  }
}

.image_restaurant {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.new {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 30px;
  bottom: 80%;
  &_title {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: darken($color: $tertiary-color, $amount: 40%);
    padding: 5px;
    background-color: $tertiary-color;
  }
}
.restaurant_descrip {
  padding: 0;
  padding-top: 8px;
}

.choicerestaurant {
  width: clamp(293px, 100%, 881px);
  margin-bottom: 20px;
}

.choice_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
