@import "../Utils/variables";
@import "../Utils/utilities";

// Header
.headernavigation {
  position: relative;
}
.headernav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .logonav {
    width: 100px;
    align-self: center;
  }
  .headerlink {
    margin-top: 10px;
  }
}

.headerimage {
  width: 100%;
  height: 259px;
  align-self: center;
  margin-top: 32px;
  z-index: 0;
}

.headerarrow {
  position: absolute;
  left: 10px;
  font-size: 20px;
}

// Page
.article_border {
  @include flexbox;
  position: relative;
}

.headerheart {
  display: flex;
  flex-direction: row;
  padding: 0;
  .title_one {
    align-self: center;
    font-weight: bold;
    position: absolute;
    top: 46%;
    right: 0;
    background-color: #f2f2f2;
    z-index: 1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    .heart {
      padding: 15px;
    }
  }
}

.fa-heart {
  position: absolute;
  right: 19px;
  top: 225px;
  z-index: 1;
}

.entertitle {
  align-self: start;
  .title_enter {
    margin-bottom: 7px;
    border-bottom: 3px $tertiary-color solid;
  }
}

.meal {
  width: 100%;
  border-radius: 10px;
  height: 45px;
}
.bouton {
  margin-bottom: 20px;
}

//   FOOTER
footer {
  background-color: darkgray;
  @include flexbox;
  justify-content: space-between;
  padding-bottom: 20px;
}
.logofooter {
  font-style: $primary-font;
  color: white;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 15px;
  &_propose {
    @include flexbox;
    justify-content: space-between;
    height: 100px;
    &--line {
      padding: 0;
      margin: 0;
    }
  }
}
.become {
  display: flex;
  &_icone {
    padding: 3px;
    margin-right: 3px;
  }
}
.partner {
  display: flex;
  &_icone {
    padding: 3px;
    margin-right: 3px;
  }
}
.footer_position {
  margin-left: 10px;
}
.meal {
  margin-top: 10px;
  border-radius: 10px;
  &_title {
    font-style: $secondary-font;
    margin-left: 15px;
    padding: 0;
    &--description {
      padding: 0;
      margin-left: 15px;
      font-size: 15px;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 198px;
    }
  }
}

.title_prix {
  display: flex;
  justify-content: space-between;
  .prix {
    font-size: 15px;
  }
}
