@import "../Utils/variables";
@import "../Utils/utilities";
@import "../Utils/_Keyframes";

// Header
.headernavigation {
  position: relative;
}
.headernav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  .logonav {
    width: 100px;
    align-self: center;
  }
  .headerlink {
    margin-top: 10px;
    height: 24px;
    width: 133px;
  }
}

.headerimage {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-top: 13px;
  z-index: 0;
}

.headerarrow {
  position: absolute;
  left: -36px;
  font-size: 20px;
}

.explorer {
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  &_btn {
    border-radius: 35px;
    background-color: $secondary-color;
    background: linear-gradient(
      168deg,
      rgba(255, 121, 218, 1) 0%,
      rgba(255, 121, 218, 1) 16%,
      rgba(147, 86, 220, 1) 100%
    );
    padding: 1px 50px 2px;
    box-shadow: -1px 9px 19px -6px rgba(0, 0, 0, 0.75);
    &---paragraphe {
      font-size: 15px;
      color: white;
      text-align: center;
      font-weight: 700;
    }
  }
}

// Page
.article_border {
  @include flexbox;
  position: relative;
}

.dessert {
  margin-bottom: 30px;
}

.headerheart {
  display: flex;
  flex-direction: row;
  padding: 0;
  .title_one {
    font-family: $primary-font;
    font-size: 24px;
    align-self: center;
    font-weight: bold;
    position: absolute;
    top: 296px;
    right: 0;
    background-color: #f2f2f2;
    z-index: 1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-top: 19px;
    padding-bottom: 22px;
    left: 0px;
    padding-left: 30px;
  }
}
.heartpage {
  position: absolute;
  left: 90%;
  bottom: 3%;
  z-index: 1;
  font-size: 16px;
  right: 1%;
}

.heart_color--nav {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    77deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 52%,
    rgba(147, 86, 220, 1) 98%
  );
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 1;
  font-size: 18px;
  border: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.heart_color--navpalette {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    77deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 52%,
    rgba(147, 86, 220, 1) 98%
  );
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
  font-size: 17px;
  border: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.heartlanote {
  position: absolute;
  left: 90%;
  bottom: 3%;
  z-index: 1;
  font-size: 16px;
  right: 1%;
}

.entertitle {
  align-self: start;
  width: 12px;
  padding-left: 0;
  .title_enter {
    margin: 10px;
    border-bottom: 2px $tertiary-color solid;
    padding-bottom: 5px;
    &--plat {
      margin-left: 70px;
    }
  }
}

.meal {
  width: 100%;
  border-radius: 10px;
  height: 45px;
  transition: transform 0.5s ease;
}

button {
  border: 0;
}

.bouton {
  margin-bottom: 20px;
}

//   FOOTER
footer {
  background-color: darkgray;
  @include flexbox;
  justify-content: space-between;
  padding-bottom: 20px;
}
.logofooter {
  font-family: $primary-font;
  color: white;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 15px;
  &_propose {
    @include flexbox;
    justify-content: space-between;
    height: 100px;
    &--line {
      padding: 0;
      margin: 0;
    }
  }
}
.become {
  display: flex;
  &_icone {
    padding: 3px;
    margin-right: 3px;
  }
}
.partner {
  display: flex;
  &_icone {
    padding: 3px;
    margin-right: 3px;
  }
}
.footer_position {
  margin-left: 10px;
}
.meal {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }
  margin-top: 10px;
  border-radius: 10px;
  height: 47px;
  overflow: hidden;

  animation-name: meal_apparition_opacity, meal_apparition_translate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  &_title {
    font-family: $secondary-font;
    margin-left: 15px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &--description {
      padding: 0;
      margin-left: 15px;
      font-size: 15px;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.meal:hover .apparition_meal {
  margin: 0;
  i {
    animation: rotationcheck 1s ease-in-out;
  }
}

.meal_range {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  width: calc(100% - 96px);
  padding: 5px 20px 5px 7px;
}

.apparition_meal {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $tertiary-color;
  margin-right: -75px;
  width: 73px;
  transition: all 0.5s ease-in-out;
}

.fa-circle-check {
  font-size: 20px;
  padding: 20px;
  color: white;
}

.title_prix {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .prix {
    font-size: 15px;
    display: flex;
    align-self: center;
    padding-left: 25px;
    padding-right: 10px;
  }
}
