.loader {
  display: grid;
  place-content: center;
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 2;
  opacity: 0.5;
  animation: loader_disapear 1s forwards 2s linear,
    loader_canceled 1s forwards 2.5s linear;

  &_items {
    display: flex;

    font-size: 55px;

    &---one {
      margin: 15px;
      color: $secondary-color;
      animation: color_change---one 2s linear infinite,
        item_move 2s ease-in-out infinite;

      animation-delay: 100ms;
    }
    &---two {
      margin: 15px;
      color: $primary-color;
      animation: color_change---two 2s linear infinite,
        item_move 2s ease-in-out infinite;
      animation-delay: 300ms;
    }
    &---three {
      margin: 15px;
      color: $tertiary-color;
      animation: item_move 2s ease-in-out infinite,
        color_change---one 2s linear infinite;
      animation-delay: 500ms;
    }
  }
}

.opacity_body {
  animation: site_appear 3s linear;
}
