@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/Keyframes";

// bouton navigation

button {
  border: 0;
}

.bouton {
  margin-bottom: 20px;
}

// bouton style
button {
  display: flex;
  align-items: center;
  margin: auto;
}

// général

.explorer_btn {
  border-radius: 35px;
  background-color: $secondary-color;
  @include linear-gradient;
  padding: 1px 35px 1px;
  box-shadow: -1px 9px 19px -6px rgba(0, 0, 0, 0.75);
  &---paragraphe {
    font-size: 15px;
    color: $fifth-color;
    text-align: center;
    font-weight: 700;
  }
}

.explorer {
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  &_btn {
    border-radius: 35px;
    background-color: $secondary-color;
    font-family: $secondary-font;
    cursor: pointer;
    @include linear-gradient;
    padding: 1px 50px 2px;
    box-shadow: -1px 9px 19px -6px rgba(0, 0, 0, 0.75);
    transition: opacity 1.5s ease-in-out;
    &---paragraphe {
      font-size: 15px;
      color: $fifth-color;
      text-align: center;
      font-weight: 700;
    }
  }
}

.explorer_btn:hover {
  opacity: 0.7;
}
