.heart_color--nav {
  @include linear-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 1;
  font-size: 18px;
  border: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
